.container {
  height: 100%;
  width: 100%;
  /* border: 10px solid black; */
}

.main_container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay {
  height: 100%;
  width: 100%;
  /* border: 5px solid blue; */
  display: flex;
}

.overlay_img {
  height: 100%;
  width: 50%;
  clip-path: polygon(10% 0%, 100% 0%, 90% 50%, 100% 100%, 10% 100%, 0% 50%);
}

.login_modal,
.register_modal {
  width: clamp(50%, 400px, 90%);
  height: 200px;
  min-height: 200px;
  background: white;
  position: absolute;
  border-radius: 10px;
  box-shadow: 2px 4px 8px black;
}

.login_form,
.register_form {
  padding: 0.25em;
  display: flex;
  flex-direction: column;
  /* border: 2px solid black; */
  height: 100%;
  width: 100%;
}

.form_div {
  flex-grow: 1;
  /* border: 2px solid black; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form_control {
  width: clamp(70%, 200px, 75%);
  padding: 0.35rem;
}

.form_btn_div {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login_btn {
  width: 100px;
  padding: 0.25em;
  border-radius: 10px;
  margin-right: 5px;
}

.github_btn {
  background: black;
  color: white;
  margin-right: 25px;
  padding: 0.25em;
  font-size: 20px;
  border-radius: 35%;
  cursor: pointer;
  position: relative;
}

.github_btn:hover::after {
  position: absolute;
  content: "Sign in with your Github Acct (Pays to be a Dev 😎";
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  width: 275px;
  height: 35px;
  top: 35px;
  left: -25px;
  background: black;
  border-radius: 100px;
}

.p_link {
  cursor: pointer;
}

.p_link:hover {
  text-decoration: underline;
}
